/*
	Reset Selector - don't remove this!
*/

* {
	margin: 0;
	padding: 0;
}

/* 
	You can modify everything after this point.
*/

a:link, a:visited {
	color: blue;
}

a:focus, a:hover {
	background-color: #ddddff;
	border-radius: 5px;
	text-decoration: underline;
	transition-duration: 0.2s;
	transition-property: background;
}

body {
	/*sets to 80 characters per line*/
width: 80ch;
text-align: left;
margin-left: auto;
margin-right: auto;
  @import url('https://fonts.googleapis.com/css2?family=Kanit&family=Lato&display=swap');
}

code {
	
}

h2, h3 {
	font-family: 'Kanit', sans-serif;
	font-weight: 700;
	font-style: normal;
	margin-top: 1em;
	margin-bottom: 1em;
}

h1{	
	font-family: 'Kanit', sans-serif;
	font-weight: 700;
	font-style: normal;
	margin-top: 8px;
	margin-bottom: 1em;}


h2 {

}

h3 {
	font-size: 20px;
}

header {
	
}

main {

}

p {
	font-size: 16px;
	line-height: 120%;
	margin-top: 1em;
	margin-bottom: 1em;
	font-family: 'Lato', sans-serif;
	font-weight: 400;
	font-style: normal;
}

#intro {

}

#how-does-it-work, #influence, #joke {

}